{% extends "AppLouvreBundle::layout.html.twig" %}

{% block content %}

	{% for flashMessage in app.session.flashbag.get('success') %}
		<div class="alert alert-success" >
          {{ flashMessage }}
      	</div>
	{% endfor %}
   
	{% for flashMessage in app.session.flashbag.get('errors') %}
      	<div class="alert alert-danger">
          {{ flashMessage }}
      	</div>
  	{% endfor %}
    
	<h1><strong>Etape 1:</strong> Votre commande </h1>
  	<hr>
	<div id="orderForm" class="well col-md-6 ">
		<div class=" orderForm">
			 {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
  
				<div class="form-group">
					{{ form_label(form.visitDate, "Date de visite", {'label_attr': {'class': 'col-sm-4'}}) }}

					{# Affichage des erreurs pour ce champ précis. #}
					{{ form_errors(form.visitDate) }}

					<div class="col-sm-6">
					  {# Génération de l'input. #}
					  {{ form_widget(form.visitDate, {'attr': {'class': 'datepicker'}}) }}
					</div>
				</div>
				
					<div class="form-group">

					{{ form_label(form.email, "Entrez votre Email ", {'label_attr': {'class': 'col-sm-4', }}) }}

					{# Affichage des erreurs pour ce champ précis. #}
					{{ form_errors(form.email) }}

					<div class="col-sm-6">
					  {# Génération de l'input. #}
					  {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
					</div>
					</div>
				
				<div class="form-group">
					{# Génération du label. #}
					{{ form_label(form.ticketsType, "Choix de billet", {'label_attr': {'class': 'col-sm-4'}}) }}

					{# Affichage des erreurs pour ce champ précis. #}
					{{ form_errors(form.ticketsType) }}

					<div class="col-sm-6">
					  {# Génération de l'input. #}
					  {{ form_widget(form.ticketsType, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>
			  
				  <span class="form-group">
					{# Génération du label. #}
					{{ form_label(form.ticketsNbr, "Nombre de billet", {'label_attr': {'class': 'col-sm-4'}}) }}

					{# Affichage des erreurs pour ce champ précis. #}
					{{ form_errors(form.ticketsNbr) }}

					<span class="col-sm-3">
					  {# Génération de l'input. #}
					  {{ form_widget(form.ticketsNbr, {'attr': {'class': 'form-control'}}) }}
					</span>
					
					<input type="submit" class="btn btn-success" id="stp1bouton" value="Etape suivante >" />
					<a href="../"><input type="button" class="btn btn-danger" value="Annuler" /></a>
				  </span>

			{{ form_end(form) }}
	
		</div>
	</div>
 
   <div id="infosHoraires" class="col-md-4">
  		<div class="row col-md-8">
		
			<div class="panel panel-default">
  				<div class="panel-heading">
  	  				<h3 class="panel-title">Horaires :</h3>
  				</div>
				<ul class="list-group">
				  <li class="list-group-item">Lundi    : 09h00-18h00</li>
				  <li class="list-group-item"><strong>Mardi    : Fermé</strong></li>
				  <li class="list-group-item">Mercredi : 09h00-21h45</li>
				  <li class="list-group-item">Jeudi    : 09h00-18h00</li>
				  <li class="list-group-item">Vendredi : 09h00-21h45</li>
				  <li class="list-group-item">Samedi   : 09h00-18h00</li>
				  <li class="list-group-item"><strong>Dimanche    : Fermé</strong></li>
				</ul>
			</div>
		</div>
  </div>
{% endblock %}